body, html {
	font-family: "Roboto Condensed";
	margin: 0;
	background: black;
	display: flex;
	justify-content: center;
	
}

#menuContainer {
	width: 90%;
	max-width: 650px;
	background-color: #8A6A9C;
	min-height: auto;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menuTitle {
	color: white;
	text-shadow: -3px 3px #5D2E74;
	font-size: 35px;
	width: 300px;
}


#logo {
	width: 150px;
}

.menuItem{
	display: flex;
	align-items: center;
	gap: 20px;
}

.menuItem img {
	width: 200px;
	flex-shrink: 0;
}

.menuItem img.animate{
	transform: scale(1.2);
}

.itemText{
	flex: 1;
	padding: 12px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	text-align: center;
}

.menuItem:nth-child(even){
	flex-direction: row-reverse;
}

.purple {
	background-color: #5D2E74;
}

.red {
	background-color: #992607;
}

.green {
	background-color: #035807;
}

.blue {
	background-color: #2E149B;
}

.footer {
	text-align: center;
	color: white;
	text-shadow: -3px 3px #5D2E74;
}

.footer h1 {
	font-size: 35px;
}

.footer h2 {
	font-size: 28px;
}